@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    
}
body{
    color: #263138;
}
header {
    background-color: #ef9a6c;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 80px 24px 80px;
}
header nav a {
    color: #ffffff;
    font-weight: 600;
    padding: 32px;
}
#inicio {
    display: flex;
    align-items: center;
    gap:32px;
    padding: 24px 80px 128px 80px;
    position: relative;
     
}
h1,
h2 {
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 32px;
}